html, body {
    color: #333 !important;
    background-image: url("imagens/background.png") !important;
    background-repeat: repeat !important;
}

.align-center {
    text-align: center;
}

.header {
    padding-top: 10px;
    text-align: center;
}

.header img {
    width: 330px;
}

/* CSS para o menu horizontal centralizado */
nav {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightpink;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center; /* Alinha o menu horizontal no centro da página */
}

nav ul li {
    display: inline;
    padding: 10px;
}

nav ul li:hover, .active {
    text-decoration: underline !important;
    background-color: rgba(255, 255, 255, 0.151);
}

nav ul li:last-child {
    margin-right: 0; /* Remove o espaçamento do último item do menu */
}

/* Estilo para os links do menu */
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

footer {
    text-align: center; 
    background-color: lightpink;
    padding-top: 2px;
    padding-bottom: 2px;
}

.titulo-pagina {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
}

.formulario-contato {
    margin-bottom: 50px;
    text-align: center;
}

.input-label {
    text-align: center;
    margin-top: 10px;
}

.contato-mapa {
    text-align: center;
    margin-bottom: 50px;
}

.formulario-trabalhe-conosco {
    margin-bottom: 50px;
    text-align: center;
}

.produtos a {
    text-decoration: none;
    color: #333;
}

.produto {
    text-align: center !important;
    padding: 14px;
}

.produto img {
    max-width: 250px;
    height: auto;
    max-height: 250px; /* Limita a altura para manter a proporção */
    border: 1px solid #ccc; /* Borda ao redor das imagens */
    border-radius: 5px; /* Cantos arredondados para as imagens */
}

.produto h3 {
    font-size: 18px;
    margin: 10px 0;
}

.produto p {
    font-size: 14px;
    margin: 0;
}

.preco {
    font-weight: bold;
    color: #e74c3c; /* Cor do preço */
}

.foto-aluna {
    text-align: center;
    background-image: url('imagens/cleide.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    display: inline-block;
    border-radius: 50%;
}

.redes-sociais {
    margin-bottom: 26px;
}

.redes-sociais a {
    text-decoration: none;
    margin-left: 14px;
    margin-right: 14px;
}

.redes-sociais a img {
    max-width: 36px;
}

.carousel-item img {
    max-height: 600px !important;
    min-height: 250px !important;
    height: 350px !important;
}